/* style.css */

/* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}*/

body {
    height: 100vh;
    display: block;
    background: #060AB2;
}

header {
    color: red;
    text-align: center;

}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* perspective: 1000px; */
}

.memory-card {  
width: 150px;
height: 150px;
margin: 5px;
position: relative;
box-shadow: 1px 1px 1px rgba(red, green, blue, alpha)
/*box-shadow: 1px 1px 1px rgba(0,0,0,.3); */ 
}

.back-face:active {
    transform: scale(0.97);
    transition:transform .2s 
}
/*.memory-card.flip {
    transform: rotateY(180deg)
} */

.front-face {
    display: none;
}

.front-face,
.back-face  {
    width: 150px;
    height: 150px;
    padding: 20px;
    position: relative;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

/* ------------------------------------- */

.deck .open {
    transform: rotate(0);
    background: #02b3e4;
    cursor: default;
    animation-name: flipInY;
    animation-duration: .75s;
}

.deck .show {
    font-size: 33px;
}

.deck .match {
    cursor: default;
    background: #e5f720;
    font-size: 33px;
    animation-duration: 75s
}

.deck .unmatched {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    background: #e2043b;
}

.deck .disable { 
    pointer-events:  none;
    opacity: 0.9;
}

/* styles for the panel */

.score-panel {
    text-align: left;
    margin-bottom: 10px
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;

}

.score-panel .stars li {
   list-style: none;
   display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-star {
    color: #FF7F50;
}  

.timer {
    display: inline-block;
    margin: 01rem;
}


#starRating li {
    display: inline-block;
}

/* 
* Style for the congrats modal 
*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #D8BFD8;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.popup h2 {
    margin-top: 0;
    color: #2F4F4F;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.popup .close:hover {
    color: #F0E68C;
}

.popup .content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#startRatiing li {
    display: inline-block;
}


#play-again {
    background-color: #F0E68C;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    font-family: 'WELL.. PlAY AGAIN', cursive;
    color: #D8BFD8;
}


/* ----------------------- */

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, -20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, -5deg);
    }
    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1,);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}


/* media Queries */

@media (min-width: 768px) {
    .content {
        font-size: 22px;
    }
    .deck {
        width: 660px;
        height: 680px;
    }
    .deck .card {
        height: 125px;
        width: 125px;
    }
}
.popup {
    width: 60%;
}
